.promo {
  max-width: 1200px;
  max-height: 493px;
  margin: 20px 40px 0;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.promo__title {
  display: flex;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  max-width: 730px;
  text-align: center;
  margin: 160px 235px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.promo__wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin: 161px 446px 30px;
}

.promo__link {
  display: flex;
  width: 96px;
  max-height: 36px;
  justify-content: center;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  border-radius: 10px;
  color: #000000;
  background-color: #e8e8e8;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: none;
  margin-right: 10px;
}

.promo__link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1279px) {
  .promo {
    max-width: 1200px;
    max-height: 493px;
    margin: 20px 40px 0;
  }
}

@media screen and (max-width: 1023px) {
  .promo {
    max-width: 728px;
    max-height: 834px;
    margin: 20px 20px 0;
  }

  .promo__title {
    width: 680px;
    text-align: center;
    margin: 350px auto 0;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.04em;
  }

  .promo__wrapper {
    margin: 314px 210px 30px;
  }
}

@media screen and (max-width: 767px) {
  .promo {
    max-width: 292px;
    max-height: 586px;
    margin: 14px auto 0;
  }

  .promo__title {
    width: 292px;
    margin: 220px 0 0;
    font-size: 29px;
    line-height: 37px;
  }

  .promo__wrapper {
    margin: 212px 17px 17px;
    /* width: 258px; */
    text-align: center;
  }

  .promo__link {
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 26px;
    max-width: 82px;
  }
}
