.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  padding: 79px 70px 20px;
  background: #FAFAFA;
}

.footer__title {
  display: flex;
  justify-content: center;
  width: 1140px;
  margin: 0;
  padding: 0 0 20px;
  border-bottom: 1px solid #e8e8e8;
  color: #a0a0a0;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.footer__wrapper {
  display: flex;
  width: 1140px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__links {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer_card {
  cursor: pointer;
}

.footer__link {
  text-decoration: none;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-right: 0;
  padding-left: 20px;
  color: #000000;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__copyright {
  margin: 0;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 708px;
    padding: 79px 30px 20px;
    margin: 0 auto;
  }

  .footer__title {
    max-width: 708px;
  }
  
  .footer__wrapper {
    max-width: 708px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 300px;
    padding: 79px 10px 10px;
  }

  .footer__title {
    max-width: 300px;
    padding: 0 0 21px;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }

  .footer_card {
    padding-bottom: 12px;
  }

  .footer__links {
    padding: 30px 0;
    flex-direction: column;
  }
}
