.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1140px;
  padding: 110px 70px 125px;
  background-color: #ffffff;
}

.about-me__title {
  max-width: 1140px;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #000000;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
}

.about-me__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1140px;
  padding-top: 66px;
}

.about-me__box {
  display: flex;
  width: 600px;
  flex-direction: column;
}

.about-me__name {
  display: flex;
  width: 600px;
  margin: 0;
  padding-bottom: 18px;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
}

.about-me__description {
  display: flex;
  margin: 0;
  padding-bottom: 26px;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  mix-blend-mode: normal;
}

.about-me__info2 {
  display: flex;
  margin: 0;
  padding-bottom: 20px;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.about-me__info1 {
  display: flex;
  margin: 0;
  padding-bottom: 99px;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.about-me__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  list-style-type: none;
  width: 132px;
  padding: 0;
  margin: 0;
}

.about-me_unit {
  display: flex;
  padding-right: 20px;
}

.about-me_unit:last-child {
  padding-right: 0;
}
.about-me__link {
  display: flex;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14p6.94px;
  text-decoration: none;
  color: #000000;
}

.about-me__image {
  display: flex;
  width: 270px;
  height: 325px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  padding-right: 0;
  margin-right: 0;
}

@media screen and (max-width: 1023px) {
  .about-me {
    max-width: 668px;
    padding: 90px 50px 90px;
    margin: 0 auto;
  }

  .about-me__title {
    max-width: 668px;
  }

  .about-me__wrapper {
    max-width: 668px;
  }

  .about-me__name {
    max-width: 348px;
    padding-bottom: 16px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.04em;
  }

  .about-me__description {
    max-width: 348px;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__info2 {
    max-width: 348px;
    padding-bottom: 15px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__info1 {
    max-width: 348px;
    padding-bottom: 87px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__image {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 767px) {
  .about-me {
    max-width: 292px;
    padding: 70px 14px 70px;
  }

  .about-me__title {
    max-width: 292px;
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
    justify-content: flex-start;
  }

  .about-me__wrapper {
    max-width: 292px;
  }

  .about-me__wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start; 
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .about-me__name {
    max-width: 292px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__description {
    max-width: 292px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__info2 {
    max-width: 292px;
    padding-bottom: 15px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__info1 {
    max-width: 292px;
    padding-bottom: 87px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__image {
    width: 292px;
    height: 352px;
  }
}
